#board {
	width: 80%;
	margin-left: 10%;
    margin-top: 4%;
}

#nav{
	padding: 0px;
	box-shadow: #fdd200ad 0px -4px 50px;
}

#sticky_note{
	width: 800px;
}

#headerWrapper{
	margin-left: 16%;
	width: 80%;
	margin-top: 1%;
}

#bulb{
    margin-left: 86%;
    margin-top: -7%;
}

img{
	height: 20px;
	width: 20px;
}