#board {
	width: 80%;
	margin-left: 10%;
    margin-top: 4%;
}

#nav{
	padding: 0px;
	box-shadow: #b8c7ff 0px -4px 50px;
}

#sticky_note{
	width: 800px;
}

#headerWrapper{
	margin-left: 16%;
	width: 80%;
	margin-top: 1%;
}

#bulb{
    margin-left: 86%;
    margin-top: -7%;
}

#bulb img{
    height: 30px;
    width: 30px;
}

img{
	height: 20px;
	width: 20px;
}

#uploadFilePlus{
	margin-left: 8px;
}

/*spinner css*/
/*http://tobiasahlin.com/spinkit/*/
.spinner {
  margin: auto;
  width: 50px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}